{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>My Blogs</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
	</head>
	<body class="landing is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">

					<nav id="nav">
						<ul>
							<li><a href="">Home</a></li>
							<li>
								<a href="login" class="icon solid fa-angle-down">Blogs</a>
							</li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<h2>My Blogs</h2>
					<p>Publish your passions, your way.</p>
					<ul class="actions special">
						<li><a href="register" class="button primary">Register</a></li>
						<li><a href="login" class="button">Login</a></li>
					</ul>
				</section>


			<!-- Footer -->
				 <footer id="footer">
					 <ul class="copyright">
						 <li>&copy; My Bolgs. All rights reserved.</li>
					 </ul>
				 </footer>

		 </div>




	 </body>
 </html>
