{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>My Blogs	</title>
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}" />
  </head>

  <body>
    <div class='header'>
      <!-- Header -->

            <ul>
              <li><a href="index">Home</a></li>
              <li>
                <a href="login">Blogs</a>
              </li>
            </ul>


    </div>
  <center>
		<div>
			<h1>Login</h1>
			<form class="form" method="POST" action="login">
        {% csrf_token %}
				<input type="text" class="username" placeholder="User name" name="username" required>
				<input type="password" class="password" placeholder="Password" name="password" required>
				<input type="submit" class="button" value="Login">
			</form>
		</div>
      
      


			<p>No account ?<a href="register"> Sign Up</p>


      <div>
        {% for message in messages %}
        <p> {{ message }} <p>
        {% endfor %} 
      </div>

  </center>
  </body>
</html>
